.active{
  color:red;
  border-bottom: 2px solid white;
  transition: 0.5s ease-in-out;
}
.intro{
  font-family: "Anton", sans-serif;
  font-weight: 350;
  font-style: normal;

}
.pk{
  margin-left: 20px;
}
#contact {
  scroll-margin-top: 80px;
}
.loader {
  display: flex;
  gap: 8px;
}

.loader span {
  font-size: 2.5rem;
  font-weight: bold;
  animation: bounce 1.2s infinite ease-in-out;
  display: inline-block;
}

.loader span:nth-child(1) { animation-delay: 0s;   color:violet ; }
.loader span:nth-child(2) { animation-delay: 0.1s; color:  indigo; }
.loader span:nth-child(3) { animation-delay: 0.2s; color:blue ; }
.loader span:nth-child(4) { animation-delay: 0.3s; color: green; }
.loader span:nth-child(5) { animation-delay: 0.4s; color:yellow ; }
.loader span:nth-child(6) { animation-delay: 0.5s; color:orangered ; }
.loader span:nth-child(7) { animation-delay: 0.6s; color: red; }
.loader span:nth-child(8) { animation-delay: 0.7s; color:white ; }
.loader span:nth-child(9) { animation-delay: 0s;   color:violet ; }
.loader span:nth-child(10) { animation-delay: 0.1s; color:  indigo; }
.loader span:nth-child(11) { animation-delay: 0.2s; color:blue ; }
.loader span:nth-child(12) { animation-delay: 0.3s; color: green; }
.loader span:nth-child(13) { animation-delay: 0.4s; color:yellow ; }

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
